[Unit]
Description=Homelab API server
After=network.target

[Service]
User=root
Group=root
ExecStart=/etc/homelab/api_start.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=api

[Install]
WantedBy=multi-user.target
