[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/etc/homelab/cloudflared_start.sh
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5s
SyslogIdentifier=cloudflared

[Install]
WantedBy=multi-user.target